<div class="container">
  <table class="table">
    <thead>
      <tr>

        <th scope="col">Name</th>
        <th scope="col">Mobile No.</th>
        <th scope="col">Email</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Role Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of data |async">

        <td>{{user.name}}</td>
        <td>{{user.mobileNo}}</td>
        <td>{{user.emailId}}</td>
        <td>{{user.dateOfBirth}}</td>
        <td>{{user.role[0].roleName}}</td>
      </tr>
    </tbody>
  </table>
</div>
